@import "tailwindcss";

@theme {

    --color-primary: #08080a;
    --color-second-primary: #3c73ec;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}